.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: calc(var(--toolbar-height) - 80px);
  box-sizing: border-box;
  margin: 0;
  min-height: var(--header-min-height);
  color: var(--main-light-color);
  text-shadow: 0 0 15px var(--main-dark-color);
  font-size: calc(2em + .5vw);
  box-shadow: inset 0px 0px 200px 50px rgba(0, 0, 0, .5);
}