.Toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 100;
  transition: background-color 0.3s ease;
}
.Toolbar.Opaque {
  background-color: var(--main-dark-color);
}

.Toolbar .Navigation {
  margin: 0 20px;
}
.Toolbar .Navigation a {
  text-shadow: 0 3px 3px var(--main-shadow-color);
}

.Toolbar .Logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  padding: 15px 30px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
.Toolbar .Logo svg {
  fill: var(--main-light-color);
  filter: drop-shadow(0 3px 3px var(--main-shadow-color));
}
.Toolbar.Opaque .Logo {
  width: 98px;
  padding: 5px 30px;
}

.Toolbar .DrawerToggle {
  display: none;
  margin: 0 20px;
}

@media (max-width: 670px) {
  .Toolbar .Navigation {
    display: none;
  }
  
  .Toolbar .DrawerToggle {
    display: block;
  }
}